body, li{
    font-family: 'Cairo', sans-serif;
}
body::-webkit-scrollbar {
    width: 8px;
}

body.thin::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: #f6f6f6;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: #7b089b;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #7b089b;
}
table.dataTable.nowrap th, table.dataTable.nowrap td{
    white-space: normal !important;
}
/* Start Code top header */
.Btn_Logout{
    background: #fb00f9;
    padding: 9px;
    border: 0;
    box-shadow: none;
    width: 100%;
}
.btn_delet {
    border-bottom: 0!important;
    background: #ffec08!important;
    color: #4a368b!important;
}
.btn_delet i.icon-key{
    color: #4a368b!important;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu li {
    color: #fff;
    padding: 5px;
    text-align: center;
    margin: 5px auto;
}
.add_notification{
    padding-top: 4px!important
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu .dropdown-menu-list>li a:hover, .page-header.navbar .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu.dropdown-menu-default>li a:hover {
    background: transparent;
    box-shadow: none;
    border: 0;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu.dropdown-menu-default>li a {
    border-bottom: 0!important;
    background: transparent;
    color: #fff;
}
.contant_section_one::-webkit-scrollbar {
    width: 8px;
}

.contant_section_one.thin::-webkit-scrollbar {
    width: 2px;
}

.contant_section_one::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: #f6f6f6;
}

.contant_section_one::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: #cdced0;
}
.contant_section_one::-webkit-scrollbar-thumb:window-inactive {
    background: #cdced0;
}
ul.page-sidebar-menu {
    background: #4a368b;
    color: #fff;
    margin-top: 0;
    padding: 0;
}
.page-header.navbar .menu-toggler {
    background-image: url(../img/sidebar-toggle-light.png);
}
.page-sidebar, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover {
    background-color: #4a368b;
}
.page-sidebar.navbar-collapse.collapse {
    margin-right: -25px;
    margin-top: -1.5%!important;
    height: 100%!important;
    position: absolute;
    border-radius: 0;
}
.page-sidebar .page-sidebar-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a {
    color: #fff;
    font-size: 16px;
}
.page-sidebar .page-sidebar-menu>li.open>a, .page-sidebar .page-sidebar-menu>li:hover>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a {
    background: #7b089b;
    color: #ffffff;
    cursor: pointer;
}
.page-sidebar .page-sidebar-menu .sub-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a {
    color: #ffffff;
}
.page-sidebar .page-sidebar-menu .sub-menu>li.active>a, .page-sidebar .page-sidebar-menu .sub-menu>li.open>a, .page-sidebar .page-sidebar-menu .sub-menu>li:hover>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a {
    color: #7b089b;
    background: #ffffff!important;
}
.page-sidebar .page-sidebar-menu li>a>.badge{
    float: left;
    margin-top: 1px;
    margin-left: 0;
    background: #ffffff;
    color: #000;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li>a>.badge {
    background: #000;
    color: #fff;
}
.page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .menu-toggler.sidebar-toggler {
    margin-left: 36px;
}
.editedLogo {
    width: 160px;
    margin: 0px!important;
}
.page-head .page-title {
    display: inline-block;
    float: none;
    padding: 0;
    margin-top: -7px;
}
.page-head {
    text-align: center;
}
.page-head .page-title h1 hr {
    width: 50px;
    border: 2px solid #ce00cc;
    margin-left: auto;
    margin-right: auto;
}
.page-head .page-title>h1 {
    color: #4a368b;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.page-header.navbar .top-menu ul.nav.navbar-nav.pull-right li{
    color: #fff
}
.top-menu .navbar-nav>li.dropdown-user>a.dropdown-toggle>i {
    color: #babbbd!important;
    font-size: 20px!important;
    margin-top: 8px!important;
}
.address_one {
    text-align: center;
    background: #4a368b!important;
    padding: 1px;
    margin-bottom: 2px;
}
.address_one h3 {
    margin-top: 10px;
    color: #fff;
    font-size: 16px
}
.address_one h3 a{
    text-decoration: none;
    color: #fff
}
.address_one h3 span {
    background: #fff;
    padding: 2px 5px;
    border-radius: 14px;
    color: #000;
    font-size: 15px;
    margin-right: 8px;
}
.contant_section_one {
    background: #0baf84;
    padding: 20px;
    height: 200px;
    color: #fff;
    overflow-y: auto;
}
.contant_section_one p label{
    margin-right: 10px
}
.Btn_Modal_Send{
    background: #4a368b;
    border-radius: 0!important;
    border: 0;
    box-shadow: none!important;
    width: 100%;
    margin-top: 2px;
    padding: 20px 10px!important
}
.address_two {
    background: #219d9b;
}
.contant_section_two{
    background: #29adab;
}
.address_three{
    background: #ce00cc
}
.contant_section_three{
    background: #9a0f99;
}
.address_four{
    background: #7b089a
}
.contant_section_four{
    background: #8b2ca5;
}


/* style check box */
.cont {
    display: block;
    position: relative;
    padding-right: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    user-select: none;
}
.cont input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
.cont:hover input ~ .checkmark {
    background-color: #ccc;
}
.cont input:checked ~ .checkmark {
    background-color: #2196F3;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.cont input:checked ~ .checkmark:after {
    display: block;
}
.cont .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
h3 .cont .checkmark{
    margin-right: 21px;
    margin-top: -5px;
}
/* style check box */

/* Start Style Chart */
.ChartOne {
    margin-top: 20px;
    margin-bottom: 50px
}
.ChartOne  h1 {
    color: #4a368b;
    font-size: 19px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.ChartOne h1 hr {
    width: 50px;
    border: 2px solid #ce00cc;
    margin-left: auto;
    margin-right: auto;
}
.chartSection .page-head .page-title h1{
    margin-top: 50px
}
/* End Style Chart */

/* Start Style CLock */

.clockdate-wrapper {
    background-color: transparent;
    padding: 0;
    max-width: 270px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 15px;
}
div#clockdate {
    direction: ltr;
    margin-top: -5px;
}
li table.text-center tbody  tr td{
    font-size: 11px;
    line-height: 1.6;
}
#clock {
    background-color: transparent;
    font-family: sans-serif;
    font-size: 12px;
    text-shadow: 0px 0px 1px #fff;
    color: #fff;
    font-weight: 100;
    text-align: center;
}
#clock span {
    color:#fff;
    text-shadow:0px 0px 1px #333;
    font-size:12px;
    position:relative;
    top:0px;
    left:0px;
}
#date {
    letter-spacing:0px;
    font-size:14px;
    font-family:arial,sans-serif;
    color:#fff;
}
/* End Style CLock */
.modal-content.ModalMessage {
    width: 100%;
    padding: 15px 11px;
}
.modal-content.ModalMessage select{
    width: 100%;
    outline: none;
}
.modal-content.ModalMessage textarea {
    resize: none;
    overflow: auto;
    width: 100%;
    display: block;
    height: 100px;
    border: 1px solid #ccc;
}
.modal-content.ModalMessage label{
    margin-top: 20px;
    text-align: right;
    display: block;
    width: 100%;
    color: #453579;
    font-weight: 100
}
.modal-content.ModalMessage h4 hr{
    width: 50px;
    border: 2px solid #453579;
    margin-left: auto;
    margin-right: auto;
}
button.btn.btn-info.btnSend_Message{
    background: #453579;
    outline: none!important;
    border: 0;
    box-shadow: none;
    margin-top: 20px;
    padding: 15px 10px;
    width: 100%;
}
.page-footer .page-footer-inner {
    float: none;
    display: inline-block;
    margin-bottom: 0;
}
.page-footer {
    background: #3B3F51;
    margin: 0;
    margin-top: 0px;
    text-align: center;
}
.page-boxed .page-footer .page-footer-inner, .page-footer .page-footer-inner, .page-footer-fixed .page-footer .page-footer-inner {
    color: #f3f5f9;
    text-align: center;
    font-size: 16px;
}
.page-footer {
    padding:none;
    font-size: 13px;
    height: 33px;
    padding-top: 4px;
}
.page-footer-inner{
    width: 100%
}
.page-footer-inner span a{
    color: #fff700;
    text-decoration: none;
}
.page-footer-inner span a:hover{
    color: #fff;
}
.disabled {
    color: #d8e4e9;
    opacity: 0.8;
    cursor: not-allowed;
}
.disabled span.checkmark{
    cursor: not-allowed;
}
/* Strt code Card */
.Card {
    background: #0baf84;
    padding: 6px;
    margin: 20px auto;
    color: #fff;
    position: relative;
    height: 150px
}
.Card i{
    left: 10px;
    font-size: 120px;
    text-align: left;
    top: 12px;
    margin-top: 50px;
    color: #0a8a68;
    position: absolute;
}
span.Number_Student {
    font-size: 52px;
    position: absolute;
    right: 50px;
    font-weight: 600;
    opacity: .8;
    top: 60px;
}
.Card p {
    right: 11%;
    position: absolute;
    top: 30px;
    font-size: 21px;
    font-weight: 600;
    opacity: .8;
}
.Card.Card_two {
    background: #29adab;
}
.Card.Card_two i.fas{
    color: #1a8e8c;
}
.Card.Card_three {
    background: #8b2ca5;
}
.Card.Card_three i.fas{
    color: #881aa7;
}
.Card.Card_fOUR {
    background: #9a0f99;
}
.Card.Card_fOUR i.fas{
    color: #860d85;
}
#num,
#height,
#width{
    height: 40px;
    margin-bottom: 30px;
}
/* media Query Responsive */

@media (min-width:265px) and (max-width:700px) {

    .page-sidebar.navbar-collapse.collapse {
        margin-right: -25px;
        margin-top: -2%!important;
        height: 100%!important;
        position: relative!important;
    }
    .One_Section {
        margin-bottom: 45px;
    }
    button.btn.btn-primary.Btn_Modal_Send {
        margin-top: 0;
    }
}

/* Start Code Data Table */
button.dt-button.buttons-csv.buttons-html5,
button.dt-button.buttons-excel.buttons-html5,
button.dt-button.buttons-pdf.buttons-html5,
button.dt-button.buttons-print,
button.dt-button.buttons-copy.buttons-html5 {
    background: #219e9c!important;
    color: #fff!Important;
    border: 0;
    padding: 8px 30px!important;
}
button.dt-button.buttons-print{
    background: #7b089a!important;
}
button.dt-button.buttons-pdf.buttons-html5{
    background: #4a368b!important;
}
button.dt-button.buttons-excel.buttons-html5{
    background: #ce00cc!important;
}
button.dt-button.buttons-csv.buttons-html5{
    background: #2eb995!important;
}
.Table input[type="search"] {
    border: 0;
    background: transparent;
    border-bottom: 1px solid #4a368b6b;
    width: 100%;
    outline: none;
    color: #4a368b;
}
.dataTables_wrapper .dataTables_info{
    color: #4a368b;
    width: 100%;
    text-align: center;
    margin: 20px auto 10px;
}
.dataTables_wrapper .dataTables_paginate {
    color: #4a368b;
    width: 100%;
    text-align: center;
    margin: 0px auto 10px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: white !important;
    border: 0;
    background-color: #ce00cc;
    background: linear-gradient(to bottom, #ce00cc 0%, #ce00cc 100%)!important;

}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    border: 0;
    background: #4a368b!important;
    color: #fff!important;
}
a#DataTables_Table_0_previous {
    color: #fff!important;
}
.filters {
    margin: 20Px auto 50px;
    background: #fff;
    padding: 35px;
}
.filters select {
    width: 100%;
    padding: 4px;
    margin-right: 8px;
}
input.hasDatepicker {
    padding: 7px;
    margin: 0 10px;
    width: 100%;
}
.filters .form-group{
    margin-top: 25px
}
.Report_time{
    text-align: center;
    margin: 15px auto;
    background: #219e9c;
    padding: 15px;
    width: 350px;
    color: #fff;
    border-radius: 5px;
    margin-top: -5px;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle:hover {
    background-color: transparent;
}
.subTime .btn-info{
    border: 0;
    padding: 11px 31px;
    float: right;
    margin-top: 50px;
}
button.btn-link ,
button.btn:focus,
button.btn:hover{
    /*color: #fff!important;*/
    /*background: #7b089a;*/
    /*width: 180px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*display: block;*/
    /*margin-bottom: 16px;*/
}
.btn-info{

}
button.btn.btn-link.collapsed {
    width: 180px;
}
button.btn.btn-primary.Btn_Modal_Send:hover {
    margin-bottom: 0;    width: 100%;
}
button.btn.btn-sm.green.btn-outline.filter-submit.margin-bottom:hover {
    margin: 0;
    padding: 6px 16px;
    width: auto;
}
.backButton {
    padding: 10px 25px;
    background: #4a368b;
    border: 0;
    color: #fff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.bt-setting{
    margin: 0!important;
    width: auto!important;
    border: 0!important;
    box-shadow: none!important;
    padding: 15px!important;

}
.model-setting{
    margin: 0!important;
    width: auto!important;
    display: inline-block!important;
    border: 0!important;
    box-shadow: none!important;
    padding: 11px 31px!important;
}

.btn_1{
    color: #fff!important;
    background: #7b089a!important;
    width: 180px!important;
    margin-left: auto!important;
    margin-right: auto!important;
    display: inline-block!important;
    margin-bottom: 16px!important;
}
.btn_2{
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block!important;
    margin-bottom: 16px;
    color: #fff!important;
    background-color: #c2cad8 !important;
    border-color: #bcc5d4;
}
#generate{
    background: #2196F3;
    border: 1px solid #2196F3;
    height: 35px;
    border-radius: 5px;
    margin: 0 auto;
    float: left;
    color: #fff;
    transition: 0.7s;
}
#generate:hover{
    background: #fff;
    color: #2196F3;
    transition: 0.7s;
}
.button-new{
    margin: 0 auto 20px;
    display: block;
    background: #fff;
    width: 200px;
    box-shadow: 0 0 10px 1px #ddd;
    height: 45px;
    text-decoration: none;
    outline: none;
    color: #000 !important;
    border-radius: 5px;
    border: 1px solid #fff;
}
.button-new:hover{
    background: transparent;
    border: 1px solid #000;
    color: #000 !important;
    box-shadow: 0 0 0 0 !important;
}
/* =============== chat =========================*/
.chat-section{
    width: 100%;
    margin: 0 auto;
}
.chat {
    list-style: none;
    background: none;
    margin: 0;
    padding: 0 0 0px 0;
    margin-top: 5px;
    margin-bottom: 10px;

}

.chat li {
    overflow: hidden;
    display: block;
    text-align: right;
    margin-bottom: 15px;
    width: 100%;
}
.chat li:last-of-type{
    margin-bottom: 80px;
}
.other{
    float: right;
}
.other .msg {
    background: #006898;
    border-radius: 10px;
    width: 100%;
}
.other .mssage {
    background: #006898;
    border-radius: 50px;
    width: fit-content;
}
.self {
    float: left;
}

.self .msg {
    background: #92C1F1;
    border-radius: 50px;
    width: fit-content;
    float: left;
}

.msg {
    padding: 10px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
}
.mssage {
    padding: 10px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
}

.msg p {
    font-size: 15px;
    margin: 0 0 0.2rem 0;
    color: #FFF;
    line-height: 20px;
}
.mssage p {
    font-size: 15px;
    margin: 0 0 0.2rem 0;
    color: #FFF;
    line-height: 20px;
}
.form-chat {
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 60px;
    overflow: hidden;
    z-index: 99;
    background: #FFF;
    padding: 10px 15px;
}
.form-chat textarea {
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    color: #999;
    border: 0;
    border-bottom: 1px solid #66A4C1;
    font-weight: 500;
    padding: 0 0px;
    resize: none;
    width: 100%;
    font-size: 15px;
    font-family: DINNextLTArabic;
    height: 30px;
}
.form-chat textarea::placeholder{
    color:#66a4c1;
}
.form-chat textarea:focus::placeholder{
    color:transparent;
}
.form-chat a{
    border: 0;
    background: #FFF;
    outline: none;
    width: 50px;
    height: 28px;
    position: absolute;
    left: 3px;
    top: 0;
}
.chat-user-img{
    margin-top: 7px;
    width: 40px;
    height: 40px;
}
.chat-user-name{
    margin-right: 4px;
}
.chat-user-date{
    margin-top: 10px;
    margin-left: 30px;
    float: left;
}
.chat-content{
    margin: 8px!important;
    margin-right: 46px!important;
}
.doc-checked{
    color: orange;
}
.popup-scroll {
    overflow-y: scroll;
    max-height: 400px;
}

.popup-scroll::-webkit-scrollbar {
    width: 5px
}

.popup-scroll::-webkit-scrollbar-thumb {
    border-radius: 2px
}

.update-input-form {
    margin-bottom: 7px !important;
}

